@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* common styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
}

section {
    margin: 100px auto;
    max-width: 1170px;
}

.text-primary-light {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}


.btn-primary {
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    cursor: pointer;
    padding: 15px 35px;
}

.title-primary {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.text-primary {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 16px;
    max-width: 643px;
}

.section-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* header */

nav {
    display: flex;
    justify-content: space-between;
}

.nav-ban {
    margin-top: 50px;
}

nav h1 {
    font-size: 2.25rem;
    font-weight: 800;
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.black-span {
    color: #131318;
}

.orange-span {
    color: #FF5400;
}

nav>ul>li>a {
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

.nav-ul {
    display: flex;
    gap: 44px;
}

nav ul li {
    list-style-type: none;
}

.home-nav {
    color: #FF5400;
    font-size: 1.125rem;
    font-weight: 700;
}

/* banner section styles */
.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.banner-content h1 {
    color: white;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-content p {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 48px;
}

.ban-input-box {
    display: flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.ban-input-box input,
.ban-input-box select {
    max-width: 174px;
    border-radius: 8px;
    background: #FFF;
    padding: 16px 84px 16px 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border: none;
}

.ban-input-box button {
    padding: 16px 34px 16px 50px;
}

/* ppopular-tour section */
.popular-tour {
    display: flex;
    gap: 100px;
}

.popular-tour-content {
    max-width: 530px;
}

.popular-tour-content ul li {
    margin-bottom: 16px;
}

.popular-tour-content>ul>li {
    list-style-position: inside;
}

/* destination-section styles */

.destination-section p {
    margin-bottom: 50px;
}

.destination-section>h2 {
    margin-bottom: 24px;
}


.destinal {
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
}

.item-img {
    height: 300px;
}

.item-img img {
    width: 100%;
    height: 100%;
}

.item-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img h3 {
    position: absolute;
}

.destination-img {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 100px;
    margin-top: 30px;
}

.img-1 {
    grid-column: 1/span 6;
}

.img-2 {
    grid-column: 7/span 6;
}

.img-3 {
    grid-column: 1/span 4;
}

.img-4 {
    grid-column: 5/span 5;
}

.img-5 {
    grid-column: 10/span 3;
}

.img-6 {
    grid-column: 1/span 5;
}

.img-7 {
    grid-column: 6/span 7;
}

/* choose section styles */

.choose-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.hotel-card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service-card img {
    margin-bottom: 32px;
}

.service-card h2 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}


.service-card {
    padding: 32px 55px 32px 32px;
    width: 47.5%;
    height: 100%;
}

.world-class {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.guarantee-card {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* discount-deal section styles */

.discount-deal {
    background: url('../Images/Group\ 39.png');
    min-height: 500px;
    background-repeat: no-repeat;
    position: relative;
    margin: 48px 0 24px 0;
}

.discount-deal-2 {
    background: url('..//Images/Group\ 40.png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 48px 0 24px 0;
}

.discount-card-2 {
    position: absolute;
    margin: 50px 535px 55px 56px;
    padding: 50px 72px 50px 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.time-location {
    display: flex;
    gap: 24px;
}

.time-location p {
    display: flex;
    gap: 8px;
}

.discount-content h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 26px 0 16px 0;
}

.discount-content p {
    margin-bottom: 16px;
}

.discount-content h4 {
    margin-bottom: 1.5rem;
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}

.discount-card {
    position: absolute;
    margin: 50px 56px 55px 535px;
    padding: 50px 72px 50px 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}


/* responsives */

@media screen and (max-width:640px) {

    .text-primary {
        margin: 10px;
    }

    .title-primary {
        font-size: 1.25rem;
        margin-top: 30px;
    }

    .popular-tour,
    nav {
        flex-direction: column;
    }

    .nav-ul {
        flex-wrap: wrap;
        margin: 50px 0;
    }

    .banner-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 24px 32px;
    }

    .ban-input-box {
        flex-direction: column;
        gap: 16px;
        max-width: 270px;
    }

    .ban-input-box select {
        padding: 6.5% 50%;
    }

    .banner-content h1 {
        font-size: 1.375rem;
    }

    .banner-content p {
        font-size: 0.875rem;
    }

    section {
        margin: 0 20px;
    }

    .popular-tour-img img {
        width: 100%;
    }

    .popular-tour-section {
        margin-top: 30px;
    }


    .img-1 {
        grid-column: 1/span 12;
    }

    .img-2 {
        grid-column: 1/span 12;
    }

    .img-3 {
        grid-column: 1/span 12;
    }

    .img-4 {
        grid-column: 1/span 12;
    }

    .img-5 {
        grid-column: 1/span 12;
    }

    .img-6 {
        grid-column: 1/span 12;
    }

    .img-7 {
        grid-column: 1/span 12;
    }

    .item-img {
        height: 250px;
    }

    .destination-section h2 {
        margin-top: 24px;
    }

    .service-card {
        flex-direction: column;
        width: 90%;
        padding: 32px;
    }

    .discount-card-2,
    .discount-card {
        margin: 16px;
        padding: 25px;
    }

    .time-location {
        flex-wrap: wrap;
    }

    .discount-content h3 {
        font-size: 1.25rem;
    }

    .discount-content p {
        font-size: 0.875rem;
    }

    .discount-content h4 {
        font-size: 1rem;
    }

    .discount-deal-2,
    .discount-deal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:640px) and (max-width:1024px) {
    section {
        margin: 0 20px;
    }

    .text-primary {
        margin: 10px;
        max-width: none;
    }

    .ban-input-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 24px 32px;
    }

    .popular-tour,
    nav {
        flex-direction: column;
    }

    .destination-section h2 {
        margin-top: 24px;
    }

    .nav-ul {
        flex-wrap: wrap;
        margin: 50px 0;
    }

    .popular-tour-img img {
        width: 100%;
    }

    .popular-tour-section {
        margin-top: 30px;
    }

    .popular-tour-content {
        max-width: none;
    }

    .img-1 {
        grid-column: 1/span 7;
    }

    .img-2 {
        grid-column: 8/span 12;
    }

    .img-3 {
        grid-column: 1/span 7;
    }

    .img-4 {
        grid-column: 8/span 12;
    }

    .img-5 {
        grid-column: 1/span 7;
    }

    .img-6 {
        grid-column: 8/span 12;
    }

    .img-7 {
        grid-column: 1/span 7;
    }

    .discount-deal-2,
    .discount-deal {}

    .discount-card-2,
    .discount-card {
        margin: 170px  16px 16px 16px;
        padding: 25px;
    }

    .time-location {
        flex-wrap: wrap;
    }
    .choose-cards {
        flex-direction: column;
    }
    .service-card {
        width: 75%;
    }


}